<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="net.thumbtack.school.database.mybatis.mappers.SchoolMapper">

    <resultMap id="resultSchool" type="net.thumbtack.school.database.model.School">
        <id property="id" column="id"/>
        <result property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="year" column="year"/>
        <collection property="groups" column="schoolId" javaType="java.util.List"
                    ofType="net.thumbtack.school.database.model.Group">
            <result property="id" column="groupId"/>
            <result property="name" column="groupName"/>
            <result property="room" column="room"/>
            <collection property="trainees" column="traineeId" javaType="java.util.List"
                        ofType="net.thumbtack.school.database.model.Trainee">
                <result property="id" column="traineeId"/>
                <result property="firstName" column="firstName"/>
                <result property="lastName" column="lastName"/>
                <result property="rating" column="rating"/>
            </collection>
            <collection property="subjects" column="subjectId" javaType="java.util.List"
                        ofType="net.thumbtack.school.database.model.Subject">
                <result property="id" column="subjectId"/>
                <result property="name" column="subjectName"/>
            </collection>
        </collection>
    </resultMap>

    <select id="getAllUsingJoin" resultMap="resultSchool">
        SELECT school.id, school.name, year, group.id AS groupId, group.name AS groupName, room,
        trainee.id AS traineeId, firstName, lastName, rating, subject.id AS subjectId, subject.name AS subjectName
        FROM school JOIN `group` ON school.id=group.schoolId
        LEFT OUTER JOIN trainee ON trainee.groupId=group.id
        LEFT OUTER JOIN subjectGroup ON subjectGroup.groupId = `group`.id
        LEFT OUTER JOIN subject ON subjectId = subject.id
    </select>

</mapper>